<?= $this->extend('layouts/wiki') ?>
<?= $this->section('content') ?>
<div class="container-fluid">
	<div role="navigation" class="navbox" aria-labelledby="Ship_measurements" style="padding:3px">
		<table class="nowraplinks mw-collapsible autocollapse navbox-inner mw-made-collapsible"
			style="border-spacing:0;background:transparent;color:inherit">
			<tbody>
				<tr>
					<th scope="col" class="navbox-title" colspan="2"><button type="button"
							class="mw-collapsible-toggle mw-collapsible-toggle-default" aria-expanded="true"
							tabindex="0"><span class="mw-collapsible-text">hide</span></button>
						<link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1129693374">
						<style data-mw-deduplicate="TemplateStyles:r1063604349">
							.mw-parser-output .navbar {
								display: inline;
								font-size: 88%;
								font-weight: normal
							}

							.mw-parser-output .navbar-collapse {
								float: left;
								text-align: left
							}

							.mw-parser-output .navbar-boxtext {
								word-spacing: 0
							}

							.mw-parser-output .navbar ul {
								display: inline-block;
								white-space: nowrap;
								line-height: inherit
							}

							.mw-parser-output .navbar-brackets::before {
								margin-right: -0.125em;
								content: "[ "
							}

							.mw-parser-output .navbar-brackets::after {
								margin-left: -0.125em;
								content: " ]"
							}

							.mw-parser-output .navbar li {
								word-spacing: -0.125em
							}

							.mw-parser-output .navbar a>span,
							.mw-parser-output .navbar a>abbr {
								text-decoration: inherit
							}

							.mw-parser-output .navbar-mini abbr {
								font-variant: small-caps;
								border-bottom: none;
								text-decoration: none;
								cursor: inherit
							}

							.mw-parser-output .navbar-ct-full {
								font-size: 114%;
								margin: 0 7em
							}

							.mw-parser-output .navbar-ct-mini {
								font-size: 114%;
								margin: 0 4em
							}
						</style>
						<div class="navbar plainlinks hlist navbar-mini">
							<ul>
								<li class="nv-view"><a href="/wiki/Template:Ship_measurements"
										title="Template:Ship measurements"><abbr title="View this template"
											style=";;background:none transparent;border:none;box-shadow:none;padding:0;">v</abbr></a>
								</li>
								<li class="nv-talk"><a href="/wiki/Template_talk:Ship_measurements"
										title="Template talk:Ship measurements"><abbr title="Discuss this template"
											style=";;background:none transparent;border:none;box-shadow:none;padding:0;">t</abbr></a>
								</li>
								<li class="nv-edit"><a href="/wiki/Special:EditPage/Template:Ship_measurements"
										title="Special:EditPage/Template:Ship measurements"><abbr
											title="Edit this template"
											style=";;background:none transparent;border:none;box-shadow:none;padding:0;">e</abbr></a>
								</li>
							</ul>
						</div>
						<div id="Ship_measurements" style="font-size:114%;margin:0 4em"><a
								href="/wiki/Ship_measurements" title="Ship measurements">Ship measurements</a></div>
					</th>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Length</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Length_overall" title="Length overall">Length overall</a></li>
								<li><a href="/wiki/Length_between_perpendiculars"
										title="Length between perpendiculars">Length between perpendiculars</a></li>
								<li><a href="/wiki/Waterline_length" title="Waterline length">Length at the
										waterline</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Breadth</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Beam_(nautical)" title="Beam (nautical)">Beam</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Depth</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Draft_(hull)" title="Draft (hull)">Draft</a></li>
								<li><a href="/wiki/Hull_(watercraft)#Metrics" title="Hull (watercraft)">Moulded
										depth</a></li>
								<li><a href="/wiki/Freeboard_(nautical)" title="Freeboard (nautical)">Freeboard</a></li>
								<li><a href="/wiki/Waterline" title="Waterline">Waterline (Plimsoll Line)</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Height</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Air_draft" title="Air draft">Air draft</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Volume</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em"></div>
						<table class="nowraplinks navbox-subgroup" style="border-spacing:0">
							<tbody>
								<tr>
									<th scope="row" class="navbox-group" style="width:7em">Worldwide</th>
									<td class="navbox-list-with-group navbox-list navbox-odd" style="padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Tonnage" title="Tonnage">Tonnage</a></li>
												<li><a href="/wiki/Gross_tonnage" title="Gross tonnage">Gross
														tonnage</a></li>
												<li><a href="/wiki/Compensated_gross_tonnage"
														title="Compensated gross tonnage">Compensated gross tonnage</a>
												</li>
												<li><a href="/wiki/Net_tonnage" title="Net tonnage">Net tonnage</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="navbox-group" style="width:7em">Specialized</th>
									<td class="navbox-list-with-group navbox-list navbox-even" style="padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Panama_Canal" title="Panama Canal">Panama
														Canal/Universal Measurement System</a></li>
												<li><a href="/wiki/Thames_Measurement" title="Thames Measurement">Thames
														measurement tonnage</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="navbox-group" style="width:7em">Archaic</th>
									<td class="navbox-list-with-group navbox-list navbox-odd" style="padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Gross_register_tonnage"
														title="Gross register tonnage">Gross register tonnage</a></li>
												<li><a href="/wiki/Net_register_tonnage"
														title="Net register tonnage">Net register tonnage</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div></div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Capacity</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em"></div>
						<table class="nowraplinks navbox-subgroup" style="border-spacing:0">
							<tbody>
								<tr>
									<th id="Current" scope="row" class="navbox-group" style="width:7em">Current</th>
									<td class="navbox-list-with-group navbox-list navbox-even" style="padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a class="mw-selflink selflink">Deadweight tonnage</a></li>
												<li><a href="/wiki/Twenty-foot_equivalent_unit"
														title="Twenty-foot equivalent unit">Twenty-foot equivalent
														unit</a> (<a href="/wiki/Intermodal_container"
														title="Intermodal container">Intermodal containers</a>)</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="navbox-group" style="width:7em">Archaic</th>
									<td class="navbox-list-with-group navbox-list navbox-odd" style="padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Builder%27s_Old_Measurement"
														title="Builder's Old Measurement">Builder's Old Measurement</a>
												</li>
												<li><a href="/wiki/Moorsom_System" title="Moorsom System">Moorsom
														System</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div></div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Weight</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Displacement_(ship)" title="Displacement (ship)">Displacement</a>
								</li>
								<li><a href="/wiki/Displacement_(ship)#Loaded_displacement"
										title="Displacement (ship)">Loaded displacement</a></li>
								<li><a href="/wiki/Displacement_(ship)#Standard_displacement"
										title="Displacement (ship)">Standard displacement</a></li>
								<li><a href="/wiki/Displacement_(ship)#Light_displacement"
										title="Displacement (ship)">Light displacement</a></li>
								<li><a href="/wiki/Displacement_(ship)#Normal_displacement"
										title="Displacement (ship)">Normal displacement</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Stability</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Inclining_test" title="Inclining test">Inclining test</a></li>
								<li><a href="/wiki/Angle_of_list" title="Angle of list">List</a></li>
								<li><a href="/wiki/Angle_of_loll" title="Angle of loll">Angle of loll</a></li>
								<li><a href="/wiki/Metacentric_height" title="Metacentric height">Metacentric height
										(GM)</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%"><a href="/wiki/Cargo_ship#Size_categories"
							title="Cargo ship">Limits</a></th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Aframax" title="Aframax">Aframax</a></li>
								<li><a href="/wiki/Baltimax" title="Baltimax">Baltimax</a></li>
								<li><a href="/wiki/Capesize" title="Capesize">Capesize</a></li>
								<li><a href="/wiki/Chinamax" title="Chinamax">Chinamax</a></li>
								<li><a href="/wiki/Handymax" title="Handymax">Handymax/Supramax</a></li>
								<li><a href="/wiki/Handysize" title="Handysize">Handysize</a></li>
								<li><a href="/wiki/Malaccamax" title="Malaccamax">Malaccamax</a></li>
								<li><a href="/wiki/Panamax" title="Panamax">Panamax</a> and <a
										href="/wiki/Panamax#Neopanamax" title="Panamax">§&nbsp;Neopanamax</a></li>
								<li><a href="/wiki/P%C3%A9niche_(barge)" title="Péniche (barge)">Péniche</a></li>
								<li><a href="/wiki/Q-Max" title="Q-Max">Q-Max</a> (Qatar-max)</li>
								<li><a href="/wiki/Seawaymax" title="Seawaymax">Seawaymax</a></li>
								<li><a href="/wiki/Suezmax" title="Suezmax">Suezmax</a></li>
								<li><a href="/wiki/Oil_tanker#Size_categories" title="Oil tanker">VLCC and ULCC</a></li>
								<li><a href="/wiki/Yamalmax" title="Yamalmax">Yamalmax</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<?= $this->endSection() ?>
<?= $this->section('scripts') ?>
<?= $this->endSection() ?>