<?= $this->extend('layouts/wiki') ?>
<?= $this->section('content') ?>
<div class="container-fluid">
<table class="navbox" cellspacing="0" style=";text-align:left; font-size:84%; clear: both;">
	<tbody>
		<tr>
			<td style="padding:2px;">
				<table cellspacing="0" class="nowraplinks mw-collapsible mw-made-collapsible"
					style="width:100%;background:transparent;color:inherit;;">
					<tbody>
						<tr>
							<th style=";background: #252525; color: #FFFFFF; text-align: center;" colspan="2"
								class="navbox-title"><span
									class="mw-collapsible-toggle mw-collapsible-toggle-default mw-collapsible-toggle-expanded"
									role="button" tabindex="0" aria-expanded="true"><a
										class="mw-collapsible-text">Collapse</a></span>
								<div style="float:left; width:6em;text-align:left;">
									<div class="noprint plainlinksneverexpand"
										style="background-color:transparent; padding:0; white-space:nowrap; font-weight:normal; font-size:xx-small; ;background: #252525; color: #FFFFFF; text-align: center;;border:none;;">
										<a href="/wiki/Template:Weapons/BF4" title="Template:Weapons/BF4"><span
												title="View this template"
												style=";background: #252525; color: #FFFFFF; text-align: center;;border:none;;">v</span></a>&nbsp;<span
											style="font-size: 80%;">•</span>&nbsp;<span class="plainlinks"><a
												target="_blank" rel="noreferrer noopener" class="text"
												href="https://battlefield.fandom.com/wiki/Template_talk:Weapons/BF4"><span
													style="color: #002bb8; ;background: #252525; color: #FFFFFF; text-align: center;;border:none;;"
													title="Discussion about this template">d</span></a></span>&nbsp;<span
											style="font-size: 80%;">•</span>&nbsp;<a target="_blank"
											rel="noreferrer noopener" class="text"
											href="https://battlefield.fandom.com/wiki/Template:Weapons/BF4?action=edit"><span
												style="color: #002bb8; ;background: #252525; color: #FFFFFF; text-align: center;;border:none;;"
												title="You can edit this template. Please use the preview button before saving.">e</span></a>
									</div>
								</div><span style="font-size:110%;">Weapons of <i><strong
											class="mw-selflink selflink"><span style="color:#FFFFFF;">Battlefield
												4</span></strong></i></span>
							</th>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Assault Rifles</td>
							<td class="navbox-list navbox-odd"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/AK-12/Battlefield_4"
										title="AK-12/Battlefield 4">AK-12</a> • <a
										href="/wiki/SCAR-H/Battlefield_4#SCAR-H" title="SCAR-H/Battlefield 4">SCAR-H</a>
									• <a href="/wiki/M416/Battlefield_4" title="M416/Battlefield 4">M416</a> • <a
										href="/wiki/SAR-21/Battlefield_4" title="SAR-21/Battlefield 4">SAR-21</a> • <a
										href="/wiki/AEK-971/Battlefield_4" title="AEK-971/Battlefield 4">AEK-971</a> •
									<a href="/wiki/FAMAS/Battlefield_4" title="FAMAS/Battlefield 4">FAMAS</a> • <a
										href="/wiki/AUG/Battlefield_4" title="AUG/Battlefield 4">AUG A3</a> • <a
										href="/wiki/M16/Battlefield_4" title="M16/Battlefield 4">M16A4</a> • <a
										href="/wiki/CZ-805" title="CZ-805">CZ-805</a> • <a
										href="/wiki/QBZ-95#Battlefield_4" title="QBZ-95">QBZ-95-1</a> • <a
										href="/wiki/ACE_23" title="ACE 23">ACE 23</a> • <a
										href="/wiki/L85/Battlefield_4" title="L85/Battlefield 4">L85A2</a> <small>(<a
											href="/wiki/Battlefield_4:_China_Rising"
											title="Battlefield 4: China Rising">CR</a>)</small> • <a
										href="/wiki/F2000/Battlefield_4" title="F2000/Battlefield 4">F2000</a>
									(<small><a href="/wiki/Battlefield_4:_Second_Assault"
											title="Battlefield 4: Second Assault">SA</a></small>) • <a
										href="/wiki/AR-160" title="AR-160">AR-160</a> <small>(<a
											href="/wiki/Battlefield_4:_Naval_Strike"
											title="Battlefield 4: Naval Strike">NS</a>)</small> • <a
										href="/wiki/Bulldog" title="Bulldog">Bulldog</a> <small>(<a
											href="/wiki/Battlefield_4:_Dragon%27s_Teeth"
											title="Battlefield 4: Dragon's Teeth">DT</a>)</small> • <a
										href="/wiki/AN-94#Battlefield_4" title="AN-94">AN-94</a> <small>(<a
											href="/wiki/Battlefield_4:_Weapons_Crate_Pack"
											title="Battlefield 4: Weapons Crate Pack">WC</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Personal Defense Weapons</td>
							<td class="navbox-list navbox-even"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/MX4/Battlefield_4"
										title="MX4/Battlefield 4">MX4</a> • <a href="/wiki/PP-2000#Battlefield_4"
										title="PP-2000">PP-2000</a> • <a href="/wiki/UMP/Battlefield_4#UMP-45"
										title="UMP/Battlefield 4">UMP-45</a> • <a href="/wiki/CBJ-MS"
										title="CBJ-MS">CBJ-MS</a> • <a href="/wiki/PDW-R#Battlefield_4"
										title="PDW-R">PDW-R</a> • <a href="/wiki/CZ-3A1/Battlefield_4"
										title="CZ-3A1/Battlefield 4">CZ-3A1</a> • <a href="/wiki/JS2"
										title="JS2">JS2</a> • <a href="/wiki/P90/Battlefield_4"
										title="P90/Battlefield 4">P90</a> • <a href="/wiki/UMP/Battlefield_4#UMP-9"
										title="UMP/Battlefield 4">UMP-9</a> • <a href="/wiki/MP7#Battlefield_4"
										title="MP7">MP7</a> <small>(<a href="/wiki/Battlefield_4:_China_Rising"
											title="Battlefield 4: China Rising">CR</a>)</small> • <a
										href="/wiki/AS_Val#Battlefield_4" title="AS Val">AS VAL</a> (<small><a
											href="/wiki/Battlefield_4:_Second_Assault"
											title="Battlefield 4: Second Assault">SA</a></small>) • <a href="/wiki/SR-2"
										title="SR-2">SR-2</a> <small>(<a href="/wiki/Battlefield_4:_Naval_Strike"
											title="Battlefield 4: Naval Strike">NS</a>)</small> • <a
										href="/wiki/MPX/Battlefield_4" title="MPX/Battlefield 4">MPX</a> <small>(<a
											href="/wiki/Battlefield_4:_Dragon%27s_Teeth"
											title="Battlefield 4: Dragon's Teeth">DT</a>)</small> • <a
										href="/wiki/Groza#Groza-4" title="Groza">Groza-4</a> <small>(<a
											href="/wiki/Battlefield_4:_Weapons_Crate_Pack"
											title="Battlefield 4: Weapons Crate Pack">WC</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Light Machine Guns</td>
							<td class="navbox-list navbox-odd"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/U-100_MK5" title="U-100 MK5">U-100
										MK5</a> • <a href="/wiki/QJY-88#Battlefield_4" title="QJY-88">Type 88 LMG</a> •
									<a href="/wiki/LSAT#Battlefield_4" title="LSAT">LSAT</a> • <a
										href="/wiki/PKP_Pecheneg/Battlefield_4" title="PKP Pecheneg/Battlefield 4">PKP
										Pecheneg</a> • <a href="/wiki/QBB-95#Battlefield_4" title="QBB-95">QBB-95-1</a>
									• <a href="/wiki/M240#Battlefield_4" title="M240">M240B</a> • <a
										href="/wiki/MG4#Battlefield_4" title="MG4">MG4</a> • <a
										href="/wiki/M249_SAW#Battlefield_4" title="M249 SAW">M249</a> • <a
										href="/wiki/RPK-12" title="RPK-12">RPK-12</a> • <a
										href="/wiki/RPK/Battlefield_4" title="RPK/Battlefield 4">RPK</a> <small>(<a
											href="/wiki/Battlefield_4:_China_Rising"
											title="Battlefield 4: China Rising">CR</a>)</small> • <a
										href="/wiki/M60#M60-E4" title="M60">M60-E4</a> (<small><a
											href="/wiki/Battlefield_4:_Second_Assault"
											title="Battlefield 4: Second Assault">SA</a></small>) • <a
										href="/wiki/AWS_(light_machine_gun)" title="AWS (light machine gun)">AWS</a>
									<small>(<a href="/wiki/Battlefield_4:_Naval_Strike"
											title="Battlefield 4: Naval Strike">NS</a>)</small> • <a
										href="/wiki/L86A2#Battlefield_4" title="L86A2">L86A2</a> <small>(<a
											href="/wiki/Battlefield_4:_Weapons_Crate_Pack"
											title="Battlefield 4: Weapons Crate Pack">WC</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Sniper Rifles</td>
							<td class="navbox-list navbox-even"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/CS-LR4#CS-LR4" title="CS-LR4">CS-LR4</a>
									• <a href="/wiki/M40#Battlefield_4" title="M40">M40A5</a> • <a
										href="/wiki/Scout_Elite/Battlefield_4" title="Scout Elite/Battlefield 4">Scout
										Elite</a> • <a href="/wiki/SV-98/Battlefield_4"
										title="SV-98/Battlefield 4">SV-98</a> • <a href="/wiki/JNG-90#Battlefield_4"
										title="JNG-90">JNG-90</a> • <a href="/wiki/338-Recon/Battlefield_4"
										title="338-Recon/Battlefield 4">338-Recon</a> • <a
										href="/wiki/M98B/Battlefield_4" title="M98B/Battlefield 4">M98B</a> • <a
										href="/wiki/SRR-61" title="SRR-61">SRR-61</a> • <a href="/wiki/CS-LR4#FY-JS"
										title="CS-LR4">FY-JS</a> • <a href="/wiki/AWM/Battlefield_4"
										title="AWM/Battlefield 4">L115</a> <small>(<a
											href="/wiki/Battlefield_4:_China_Rising"
											title="Battlefield 4: China Rising">CR</a>)</small> • <a
										href="/wiki/GOL#Battlefield_4" title="GOL">GOL Magnum</a> (<small><a
											href="/wiki/Battlefield_4:_Second_Assault"
											title="Battlefield 4: Second Assault">SA</a></small>) • <a
										href="/wiki/SR338" title="SR338">SR338</a> <small>(<a
											href="/wiki/Battlefield_4:_Naval_Strike"
											title="Battlefield 4: Naval Strike">NS</a>)</small> • <a href="/wiki/CS5"
										title="CS5">CS5</a> <small>(<a href="/wiki/Battlefield_4:_Dragon%27s_Teeth"
											title="Battlefield 4: Dragon's Teeth">DT</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Carbines</td>
							<td class="navbox-list navbox-odd"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/AK_5C" title="AK 5C">AK 5C</a> • <a
										href="/wiki/ACW-R/Battlefield_4" title="ACW-R/Battlefield 4">ACW-R</a> • <a
										href="/wiki/SG553/Battlefield_4" title="SG553/Battlefield 4">SG553</a> • <a
										href="/wiki/AKU-12" title="AKU-12">AKU-12</a> • <a
										href="/wiki/A-91/Battlefield_4" title="A-91/Battlefield 4">A-91</a> • <a
										href="/wiki/ACE_52_CQB" title="ACE 52 CQB">ACE 52 CQB</a> • <a
										href="/wiki/G36/Battlefield_4" title="G36/Battlefield 4">G36C</a> • <a
										href="/wiki/M4_carbine/Battlefield_4" title="M4 carbine/Battlefield 4">M4</a> •
									<a href="/wiki/ACE_21_CQB" title="ACE 21 CQB">ACE 21 CQB</a> • <a
										href="/wiki/QBZ-95B#Battlefield_4" title="QBZ-95B">Type-95B-1</a> • <a
										href="/wiki/MTAR-21#Battlefield_4" title="MTAR-21">MTAR-21</a> <small>(<a
											href="/wiki/Battlefield_4:_China_Rising"
											title="Battlefield 4: China Rising">CR</a>)</small> • <a
										href="/wiki/Phantom" title="Phantom">Phantom</a> <small>(<a
											href="/wiki/Battlefield_4:_Final_Stand"
											title="Battlefield 4: Final Stand">FS</a>) (<a
											href="/wiki/Battlefield_4:_Community_Operations"
											title="Battlefield 4: Community Operations">CO</a>)</small> • <a
										href="/wiki/Groza#Groza-1" title="Groza">Groza-1</a> <small>(<a
											href="/wiki/Battlefield_4:_Weapons_Crate_Pack"
											title="Battlefield 4: Weapons Crate Pack">WC</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Designated Marksman Rifles</td>
							<td class="navbox-list navbox-even"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/RFB" title="RFB">RFB</a> • <a
										href="/wiki/SR-25/Battlefield_4" title="SR-25/Battlefield 4">Mk11 Mod 0</a> • <a
										href="/wiki/SKS/Battlefield_4" title="SKS/Battlefield 4">SKS</a> • <a
										href="/wiki/SVD-12" title="SVD-12">SVD-12</a> • <a
										href="/wiki/QBU-88#Battlefield_4" title="QBU-88">QBU-88</a> • <a
										href="/wiki/M39_EMR/Battlefield_4" title="M39 EMR/Battlefield 4">M39 EMR</a> •
									<a href="/wiki/ACE_53_SV" title="ACE 53 SV">ACE 53 SV</a> • <a
										href="/wiki/SCAR-H/Battlefield_4#SCAR-H_SV" title="SCAR-H/Battlefield 4">SCAR-H
										SV</a></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Shotguns</td>
							<td class="navbox-list navbox-odd"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/QBS-09" title="QBS-09">QBS-09</a> • <a
										href="/wiki/Model_870/Battlefield_4" title="Model 870/Battlefield 4">870 MCS</a>
									• <a href="/wiki/M1014/Battlefield_4" title="M1014/Battlefield 4">M1014</a> • <a
										href="/wiki/Hawk_12G" title="Hawk 12G">Hawk 12G</a> • <a
										href="/wiki/Saiga/Battlefield_4" title="Saiga/Battlefield 4">Saiga 12K</a> • <a
										href="/wiki/SPAS-12/Battlefield_4" title="SPAS-12/Battlefield 4">SPAS-12</a> •
									<a href="/wiki/UTS-15" title="UTS-15">UTS-15</a> • <a href="/wiki/DBV-12"
										title="DBV-12">DBV-12</a> • <a href="/wiki/DAO-12#Battlefield_4"
										title="DAO-12">DAO-12</a> (<small><a href="/wiki/Battlefield_4:_Second_Assault"
											title="Battlefield 4: Second Assault">SA</a></small>)</div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Sidearms</td>
							<td class="navbox-list navbox-even"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/P226/Battlefield_4"
										title="P226/Battlefield 4">P226</a> • <a href="/wiki/M9/Battlefield_4"
										title="M9/Battlefield 4">M9</a> • <a href="/wiki/QSZ-92#Battlefield_4"
										title="QSZ-92">QSZ-92</a> • <a href="/wiki/MP443#Battlefield_4"
										title="MP443">MP443</a> • <a href="/wiki/Shorty_12G#Battlefield_4"
										title="Shorty 12G">Shorty 12G</a> • <a href="/wiki/G18/Battlefield_4"
										title="G18/Battlefield 4">G18</a> • <a href="/wiki/FN57/Battlefield_4"
										title="FN57/Battlefield 4">FN57</a> • <a href="/wiki/M1911/Battlefield_4"
										title="M1911/Battlefield 4">M1911</a> • <a href="/wiki/93R#Battlefield_4"
										title="93R">93R</a> • <a href="/wiki/CZ-75/Battlefield_4"
										title="CZ-75/Battlefield 4">CZ-75</a> • <a href="/wiki/.44_Magnum/Battlefield_4"
										title=".44 Magnum/Battlefield 4">.44 Magnum</a> • <a
										href="/wiki/45T/Battlefield_4" title="45T/Battlefield 4">Compact 45</a> • <a
										href="/wiki/MP-412#Battlefield_4" title="MP-412">MP412 REX</a> • <a
										href="/wiki/SW40" title="SW40">SW40</a> <small>(<a
											href="/wiki/Battlefield_4:_Naval_Strike"
											title="Battlefield 4: Naval Strike">NS</a>)</small> • <a
										href="/wiki/Unica_6" title="Unica 6">Unica 6</a> <small>(<a
											href="/wiki/Battlefield_4:_Dragon%27s_Teeth"
											title="Battlefield 4: Dragon's Teeth">DT</a>)</small> • <a
										href="/wiki/DEagle/Battlefield_4" title="DEagle/Battlefield 4">DEagle 44</a>
									<small>(<a href="/wiki/Battlefield_4:_Dragon%27s_Teeth"
											title="Battlefield 4: Dragon's Teeth">DT</a>)</small> • <a
										href="/wiki/Mare%27s_Leg" title="Mare's Leg">Mare's Leg</a> <small>(<a
											href="/wiki/Battlefield_4:_Weapons_Crate_Pack"
											title="Battlefield 4: Weapons Crate Pack">WC</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Battle Pickup</td>
							<td class="navbox-list navbox-odd"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/AMR-2" title="AMR-2">AMR-2</a> · <a
										href="/wiki/HVM-II" title="HVM-II">HVM-II</a> · <a
										href="/wiki/M136_AT4#Battlefield_4" title="M136 AT4">M136 CS</a> · <a
										href="/wiki/M32_MGL#Battlefield_4" title="M32 MGL">M32 MGL</a> · <a
										href="/wiki/M82/Battlefield_4" title="M82/Battlefield 4">M82A3</a> · <a
										href="/wiki/USAS-12#Battlefield_4" title="USAS-12">USAS-12</a> · <a
										href="/wiki/Rorsch_Mk-1" title="Rorsch Mk-1">Rorsch Mk-1</a> <small>(<a
											href="/wiki/Battlefield_4:_Final_Stand"
											title="Battlefield 4: Final Stand">FS</a>)</small> · <a
										href="/wiki/M60#M60-ULT" title="M60">M60-ULT</a> <small>(<a
											href="/wiki/Battlefield_4:_Community_Operations"
											title="Battlefield 4: Community Operations">CO</a>)</small></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td class="navbox-group"
								style=";background:#252525; color: #FFFFFF; font-weight: bold; padding: 10px 10px; text-align: center;;">
								Unusable Weapons</td>
							<td class="navbox-list navbox-even"
								style="text-align:left;width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;">
								<div style="padding:0em 0.25em"><a href="/wiki/G17/Battlefield_4"
										title="G17/Battlefield 4">Glock 17</a></div>
							</td>
						</tr>
						<tr style="height: 2px;">
							<td></td>
						</tr>
						<tr style="">
							<td colspan="2"
								style="width:100%;padding:0px;background: #484848; padding: 0px 5px; width: auto;;;"
								class="navbox-list navbox-odd">
								<div style="padding:0em 0.25em">
									<center><small>For Weapon Attachments of <i>Battlefield 4</i>, <a
												href="/wiki/Template:Attachments/BF4"
												title="Template:Attachments/BF4">click here</a> <br>For Gadgets of<i>
												Battlefield 4</i>, <a href="/wiki/Template:Gadgets/BF4"
												title="Template:Gadgets/BF4">click here</a></small></center>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<?= $this->endSection() ?>
<?= $this->section('scripts') ?>
<?= $this->endSection() ?>