{% extends 'layout/wiki.html' %}
{% block title %}
SW pattern
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div role="navigation" class="navbox" aria-labelledby="Software_design_patterns" style="padding:3px">
		<table class="nowraplinks mw-collapsible autocollapse navbox-inner mw-made-collapsible"
			style="border-spacing:0;background:transparent;color:inherit">
			<tbody>
				<tr>
					<th scope="col" class="navbox-title" colspan="2"><button type="button"
							class="mw-collapsible-toggle mw-collapsible-toggle-default" aria-expanded="true"
							tabindex="0"><span class="mw-collapsible-text">hide</span></button>
						<link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1129693374">
						<style data-mw-deduplicate="TemplateStyles:r1239400231">
							.mw-parser-output .navbar {
								display: inline;
								font-size: 88%;
								font-weight: normal
							}

							.mw-parser-output .navbar-collapse {
								float: left;
								text-align: left
							}

							.mw-parser-output .navbar-boxtext {
								word-spacing: 0
							}

							.mw-parser-output .navbar ul {
								display: inline-block;
								white-space: nowrap;
								line-height: inherit
							}

							.mw-parser-output .navbar-brackets::before {
								margin-right: -0.125em;
								content: "[ "
							}

							.mw-parser-output .navbar-brackets::after {
								margin-left: -0.125em;
								content: " ]"
							}

							.mw-parser-output .navbar li {
								word-spacing: -0.125em
							}

							.mw-parser-output .navbar a>span,
							.mw-parser-output .navbar a>abbr {
								text-decoration: inherit
							}

							.mw-parser-output .navbar-mini abbr {
								font-variant: small-caps;
								border-bottom: none;
								text-decoration: none;
								cursor: inherit
							}

							.mw-parser-output .navbar-ct-full {
								font-size: 114%;
								margin: 0 7em
							}

							.mw-parser-output .navbar-ct-mini {
								font-size: 114%;
								margin: 0 4em
							}

							html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr {
								color: var(--color-base) !important
							}

						</style>
						<div class="navbar plainlinks hlist navbar-mini">
							<ul>
								<li class="nv-view"><a href="/wiki/Template:Design_patterns"
										title="Template:Design patterns"><abbr title="View this template">v</abbr></a>
								</li>
								<li class="nv-talk"><a href="/wiki/Template_talk:Design_patterns"
										title="Template talk:Design patterns"><abbr
											title="Discuss this template">t</abbr></a></li>
								<li class="nv-edit"><a href="/wiki/Special:EditPage/Template:Design_patterns"
										title="Special:EditPage/Template:Design patterns"><abbr
											title="Edit this template">e</abbr></a></li>
							</ul>
						</div>
						<div id="Software_design_patterns" style="font-size:114%;margin:0 4em"><a
								href="/wiki/Software_design_pattern" title="Software design pattern">Software design
								patterns</a></div>
					</th>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%"><a href="/wiki/Design_Patterns"
							title="Design Patterns">Gang of Four<br>patterns</a></th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em"></div>
						<table class="nowraplinks navbox-subgroup" style="border-spacing:0">
							<tbody>
								<tr>
									<th scope="row" class="navbox-group" style="width:1%"><a
											href="/wiki/Creational_pattern" title="Creational pattern">Creational</a>
									</th>
									<td class="navbox-list-with-group navbox-list navbox-odd"
										style="width:100%;padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Abstract_factory_pattern"
														title="Abstract factory pattern">Abstract factory</a></li>
												<li><a href="/wiki/Builder_pattern" title="Builder pattern">Builder</a>
												</li>
												<li><a href="/wiki/Factory_method_pattern"
														title="Factory method pattern">Factory method</a></li>
												<li><a href="/wiki/Prototype_pattern"
														title="Prototype pattern">Prototype</a></li>
												<li><a href="/wiki/Singleton_pattern"
														title="Singleton pattern">Singleton</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="navbox-group" style="width:1%"><a
											href="/wiki/Structural_pattern" title="Structural pattern">Structural</a>
									</th>
									<td class="navbox-list-with-group navbox-list navbox-even"
										style="width:100%;padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Adapter_pattern" title="Adapter pattern">Adapter</a>
												</li>
												<li><a href="/wiki/Bridge_pattern" title="Bridge pattern">Bridge</a>
												</li>
												<li><a href="/wiki/Composite_pattern"
														title="Composite pattern">Composite</a></li>
												<li><a href="/wiki/Decorator_pattern"
														title="Decorator pattern">Decorator</a></li>
												<li><a href="/wiki/Facade_pattern" title="Facade pattern">Facade</a>
												</li>
												<li><a href="/wiki/Flyweight_pattern"
														title="Flyweight pattern">Flyweight</a></li>
												<li><a href="/wiki/Proxy_pattern" title="Proxy pattern">Proxy</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="navbox-group" style="width:1%"><a
											href="/wiki/Behavioral_pattern" title="Behavioral pattern">Behavioral</a>
									</th>
									<td class="navbox-list-with-group navbox-list navbox-odd"
										style="width:100%;padding:0">
										<div style="padding:0 0.25em">
											<ul>
												<li><a href="/wiki/Chain-of-responsibility_pattern"
														title="Chain-of-responsibility pattern">Chain of
														responsibility</a></li>
												<li><a href="/wiki/Command_pattern" title="Command pattern">Command</a>
												</li>
												<li><a href="/wiki/Interpreter_pattern"
														title="Interpreter pattern">Interpreter</a></li>
												<li><a href="/wiki/Iterator_pattern"
														title="Iterator pattern">Iterator</a></li>
												<li><a href="/wiki/Mediator_pattern"
														title="Mediator pattern">Mediator</a></li>
												<li><a href="/wiki/Memento_pattern" title="Memento pattern">Memento</a>
												</li>
												<li><a href="/wiki/Observer_pattern"
														title="Observer pattern">Observer</a></li>
												<li><a href="/wiki/State_pattern" title="State pattern">State</a></li>
												<li><a href="/wiki/Strategy_pattern"
														title="Strategy pattern">Strategy</a></li>
												<li><a href="/wiki/Template_method_pattern"
														title="Template method pattern">Template method</a></li>
												<li><a href="/wiki/Visitor_pattern" title="Visitor pattern">Visitor</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div></div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%"><a href="/wiki/Concurrency_pattern"
							title="Concurrency pattern">Concurrency<br>patterns</a></th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Active_object" title="Active object">Active object</a></li>
								<li><a href="/wiki/Balking_pattern" title="Balking pattern">Balking</a></li>
								<li><a href="/wiki/Binding_properties_pattern"
										title="Binding properties pattern">Binding properties</a></li>
								<li><a href="/wiki/Double-checked_locking" title="Double-checked locking">Double-checked
										locking</a></li>
								<li><a href="/wiki/Asynchronous_method_invocation"
										title="Asynchronous method invocation">Event-based asynchronous</a></li>
								<li><a href="/wiki/Guarded_suspension" title="Guarded suspension">Guarded suspension</a>
								</li>
								<li><a href="/wiki/Join-pattern" title="Join-pattern">Join</a></li>
								<li><a href="/wiki/Lock_(computer_science)" title="Lock (computer science)">Lock</a>
								</li>
								<li><a href="/wiki/Monitor_(synchronization)"
										title="Monitor (synchronization)">Monitor</a></li>
								<li><a href="/wiki/Proactor_pattern" title="Proactor pattern">Proactor</a></li>
								<li><a href="/wiki/Reactor_pattern" title="Reactor pattern">Reactor</a></li>
								<li><a href="/wiki/Readers%E2%80%93writer_lock" title="Readers–writer lock">Read–write
										lock</a></li>
								<li><a href="/wiki/Scheduler_pattern" class="mw-redirect"
										title="Scheduler pattern">Scheduler</a></li>
								<li><a href="/wiki/Scheduled-task_pattern" title="Scheduled-task pattern">Scheduled-task
										pattern</a></li>
								<li><a href="/wiki/Semaphore_(programming)"
										title="Semaphore (programming)">Semaphore</a></li>
								<li><a href="/wiki/Thread_pool" title="Thread pool">Thread pool</a></li>
								<li><a href="/wiki/Thread-local_storage" title="Thread-local storage">Thread-local
										storage</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%"><a href="/wiki/Architectural_pattern"
							title="Architectural pattern">Architectural<br>patterns</a></th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Front_controller" title="Front controller">Front controller</a></li>
								<li><a href="/wiki/Interceptor_pattern" title="Interceptor pattern">Interceptor</a></li>
								<li><a href="/wiki/Model%E2%80%93view%E2%80%93controller"
										title="Model–view–controller">MVC</a>
									<ul>
										<li><a href="/wiki/Model%E2%80%93view%E2%80%93presenter"
												title="Model–view–presenter">MVP</a></li>
										<li><a href="/wiki/Model%E2%80%93view%E2%80%93viewmodel"
												title="Model–view–viewmodel">MVVM</a></li>
									</ul>
								</li>
								<li><a href="/wiki/Action%E2%80%93domain%E2%80%93responder"
										title="Action–domain–responder">ADR</a></li>
								<li><a href="/wiki/Entity_component_system" title="Entity component system">ECS</a></li>
								<li><a class="mw-selflink selflink"><i>n</i>-tier</a></li>
								<li><a href="/wiki/Specification_pattern"
										title="Specification pattern">Specification</a></li>
								<li><a href="/wiki/Publish%E2%80%93subscribe_pattern"
										title="Publish–subscribe pattern">Publish–subscribe</a></li>
								<li><a href="/wiki/Naked_objects" title="Naked objects">Naked objects</a></li>
								<li><a href="/wiki/Service_locator_pattern" title="Service locator pattern">Service
										locator</a></li>
								<li><a href="/wiki/Active_record_pattern" title="Active record pattern">Active
										record</a></li>
								<li><a href="/wiki/Identity_map_pattern" title="Identity map pattern">Identity map</a>
								</li>
								<li><a href="/wiki/Data_access_object" title="Data access object">Data access object</a>
								</li>
								<li><a href="/wiki/Data_transfer_object" title="Data transfer object">Data transfer
										object</a></li>
								<li><a href="/wiki/Inversion_of_control" title="Inversion of control">Inversion of
										control</a></li>
								<li><a href="/wiki/JSP_model_2_architecture" title="JSP model 2 architecture">Model
										2</a></li>
								<li><a href="/wiki/Broker_pattern" title="Broker pattern">Broker</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Other<br>patterns</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Blackboard_design_pattern" class="mw-redirect"
										title="Blackboard design pattern">Blackboard</a></li>
								<li><a href="/wiki/Business_delegate_pattern" title="Business delegate pattern">Business
										delegate</a></li>
								<li><a href="/wiki/Composite_entity_pattern" title="Composite entity pattern">Composite
										entity</a></li>
								<li><a href="/wiki/Dependency_injection" title="Dependency injection">Dependency
										injection</a></li>
								<li><a href="/wiki/Intercepting_filter_pattern"
										title="Intercepting filter pattern">Intercepting filter</a></li>
								<li><a href="/wiki/Lazy_loading" title="Lazy loading">Lazy loading</a></li>
								<li><a href="/wiki/Mock_object" title="Mock object">Mock object</a></li>
								<li><a href="/wiki/Null_object_pattern" title="Null object pattern">Null object</a></li>
								<li><a href="/wiki/Object_pool_pattern" title="Object pool pattern">Object pool</a></li>
								<li><a href="/wiki/Servant_(design_pattern)"
										title="Servant (design pattern)">Servant</a></li>
								<li><a href="/wiki/Twin_pattern" title="Twin pattern">Twin</a></li>
								<li><a href="/wiki/Type_Tunnel_pattern" class="mw-redirect"
										title="Type Tunnel pattern">Type tunnel</a></li>
								<li><a href="/wiki/Method_chaining" title="Method chaining">Method chaining</a></li>
								<li><a href="/wiki/Delegation_pattern" title="Delegation pattern">Delegation</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Books</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><i><a href="/wiki/Design_Patterns" title="Design Patterns">Design Patterns</a></i>
								</li>
								<li><i><a href="/wiki/Enterprise_Integration_Patterns"
											title="Enterprise Integration Patterns">Enterprise Integration
											Patterns</a></i></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">People</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Christopher_Alexander" title="Christopher Alexander">Christopher
										Alexander</a></li>
								<li><a href="/wiki/Erich_Gamma" title="Erich Gamma">Erich Gamma</a></li>
								<li><a href="/wiki/Ralph_Johnson_(computer_scientist)"
										title="Ralph Johnson (computer scientist)">Ralph Johnson</a></li>
								<li><a href="/wiki/John_Vlissides" title="John Vlissides">John Vlissides</a></li>
								<li><a href="/wiki/Grady_Booch" title="Grady Booch">Grady Booch</a></li>
								<li><a href="/wiki/Kent_Beck" title="Kent Beck">Kent Beck</a></li>
								<li><a href="/wiki/Ward_Cunningham" title="Ward Cunningham">Ward Cunningham</a></li>
								<li><a href="/wiki/Martin_Fowler_(software_engineer)"
										title="Martin Fowler (software engineer)">Martin Fowler</a></li>
								<li><a href="/wiki/Robert_C._Martin" title="Robert C. Martin">Robert Martin</a></li>
								<li><a href="/wiki/Jim_Coplien" title="Jim Coplien">Jim Coplien</a></li>
								<li><a href="/wiki/Douglas_C._Schmidt" title="Douglas C. Schmidt">Douglas Schmidt</a>
								</li>
								<li><a href="/wiki/Linda_Rising" title="Linda Rising">Linda Rising</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">Communities</th>
					<td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/The_Hillside_Group" title="The Hillside Group">The Hillside Group</a>
								</li>
								<li><a href="/wiki/Portland_Pattern_Repository"
										title="Portland Pattern Repository">Portland Pattern Repository</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row" class="navbox-group" style="width:1%">See also</th>
					<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0">
						<div style="padding:0 0.25em">
							<ul>
								<li><a href="/wiki/Anti-pattern" title="Anti-pattern">Anti-pattern</a></li>
								<li><a href="/wiki/Architectural_pattern" title="Architectural pattern">Architectural
										pattern</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
<!-- Scripts go here -->
<script>
	console.log(1)
</script>
{% endblock %}