
{% extends 'layout/bs.html' %}
{% block title %}
Design
{% endblock %}
{% block content %}
<div class="container-fluid">
	<ol class="main-ol">
		@for l in files
		<li>
			<a href="{{ _baseurl+'wiki/c/'+l }}">
			{{ _baseurl+'wiki/c/'+l }}
			</a>
		</li>
		@endfor
	</ol>
	<div id="group" class="row"></div>
</div>
{% endblock %}
{% block scripts %}
<script>
let ases = document.querySelectorAll("li a, th a, div a")
ases.forEach((e) => {
	let el = e
	let url = el.href
	url = url.replace("file:///wiki/", "")
	url = url.replace("file:///D:/wiki/", "")

	e.onclick = function (e) {
		e.preventDefault();

		console.log(e, arguments, this)
		console.log("test")

		window.open(url, "_blank")
	}
	el.href = url
})

let ali
let grouped

document.addEventListener('DOMContentLoaded', function(){
	ali = Array.from(document.querySelectorAll('li'))
	grouped = _.chain(ali)
		.groupBy((e)=>{
		let x = e.innerText.split("/")
		return x[5]
	})

	document.querySelector("div#group").innerHTML = grouped.map((e,ex)=> {
		let x = e.map((e1) => {
			return `<li>
				<a href="${e1.innerText}">
				${e1.innerText}
				</a>
			</li>`
		})
		return `
		<div class="col-lg-3 col-sm-4">
		${ex} 
			<ol>${x.join("")}</ol>
		</div>
		`
	})
	.sortBy((e)=> e.length)
	.value()
	.join("")
	document.querySelector("ol.main-ol").style = "display:none;"
})

setTimeout(function(){
	document.querySelector("body").style = "background-color:#666666;"
	
	let ans = Array.from( document.querySelectorAll("a"))
	ans.map((e)=>{
		// style="background-color:#acacac;"
		e.style = `background-color:#ffffff`
	})
}, 2000)
</script>
{% endblock %}